:host {
  display: block;
  inline-size: var(--newton-static-v-100-percent, 100%);
}

.newton-visual-lookup-option {
  display: block;
  inline-size: var(--newton-static-v-100-percent, 100%);
}

c-newton-selector-choice-tile {
  --newton-tile-pad-base: var(--slds-g-spacing-2, 0.5rem);
  --newton-tile-pad-l: var(--slds-g-spacing-2, 0.5rem);
  --newton-tile-pad-r: var(--slds-g-spacing-2, 0.5rem);
  --newton-tile-pad-t: var(--slds-g-spacing-2, 0.5rem);
  --newton-tile-pad-b: var(--slds-g-spacing-2, 0.5rem);
}
